/* Resetando as margens e o padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    padding: 10px;
}

header nav ul {
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px 0;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
}

.projeto {
    margin-bottom: 15px;
}

.projeto a {
    color: #4CAF50;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    margin-top: 20px;
}