/* Resetando as margens e o padding padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #1e114e;
    padding: 10px;
}

header nav ul {
    list-style-type: none;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 20px;
    margin: 20px 0;
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
}

.projeto {
    margin-bottom: 15px;
}

.projeto a {
    color: #4CAF50;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #1e114e;
    color: white;
    margin-top: 20px;
}

#habilidades {
    padding: 40px 20px;
    background-color: white;
}

.titulo-ferramentas {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}

.grid-ferramentas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 6px;
    color: #555;
}